/* this is my stylesheet for the homepage */
/* table of contents*/
/* header styles */
/* main body styles */
/* footer styles */


header {}
body {background-color: #D6FFED; font-family: 'Open Sans', sans-serif;}
figcaption {font-family: 'Open Sans', sans-serif;}
nav a{
  color: #FF147E;
}
footer {position: fixed;
        bottom:0;}

  .imageContainer{
        position: absolute;
        width: 300px; /*the image width*/
        height: 172px; /*the image height*/
        left: 44%;
        top: 5%;
        margin-left: -50px; /*half the image width*/
        margin-top: -10px; /*half the image height*/
    }
.center {text-align: center;
        margin-top: 200px;}





/* header styles */

/* main body */

/* footer styles */
