/* stylesheet for my animations */

body {
  background-color: #FFEDB7;
}

nav {
  color: #000000;
  /*background-color: #E8340C;*/
  display: inline;
  width: 240px;
  margin-left: 790px;
}

div {
  margin-left: 500px;
  margin-top: 10px;
}

div text {
padding-right: -250px;
}

div paragraph {

}
