
body {
  background-color: #576487;
}

nav a{
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

div.transbox {
  /*margin: 30px;*/
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60)
}

div.transbox p {
  /*margin: 5%;*/
  font-weight: bold;
  color: #000000;
  font-family: 'Open Sans', sans-serif;
}

div.ballsimg {
  display: block;
  margin-left: 650px;
}

div.partyimg {
  display: block;
  margin-left: 550px;
}

div.dailyspecials {
  text-align: center;
  font-size: 45px;
}

div.days {
  text-transform: uppercase;
  font-size: 28px;
}

div.time {
  font-size: 20px;
}

div.extra {
  font-style: italic;
}

div.groupon {
  font-weight: bold;
  text-align: center;
}
